@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Lato-Regular.woff') format('trutype'); 
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Lato-Medium.woff') format('trutype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Lato-Semibold.woff') format('trutype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Lato-Bold.woff') format('trutype');
}
@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/georgia.ttf") format('opentype');
}
