@import 'fonts.css';


:root {
    --main-color: #01996D;
    --main-color-dark: #245852;
    --text-color: #484848;
    --text-color-second: #000000;
    --text-color-nav: #292929;
    --backgraund: #fff;
    --btn-primary-hover: #f7e96d;
}

/* header */
.logo {
    margin-right: 142px;
}

.navmenu {
    width: 100%;
    height: 85px;
}

.subnavbar {
    width: 100%;
    display: flex;
    padding: 32px 0;
}

#demo-nav-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#demo-nav-menu a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #292929;
    text-decoration: none;
    padding-right: 76px;
}

#demo-nav-menu .demo-nav-menu-item button {
    padding: 0 35px 0 207px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color-nav);
    border: none;
    background-color: var(--backgraund);
}

form {
    border: 3px solid var(--backgraund);
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    width: 30% !important;
    background-color: var(--backgraund);
    margin: 23px auto;
    border: 9px solid var(--main-color);
    border-radius: 4px
}

.btn-sign,
.cancelbtn {
    padding: 10px 18px;
    margin: 20px 0;
    border: 2px solid var(--main-color) !important;
    padding-left: 14px !important;
    margin-left: 162px;
    border-radius: 4px
}

span.psw {
    padding-top: 8px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#demo-nav-menu .btn-primary {
    min-width: 183px;
    height: 51px;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: var(--backgraund);
    padding: 13px 30px;
    margin-top: -14px;
}

/* baner  */
.baner {
    width: 100%;
    background: url(../img/banner.jpg) center/cover no-repeat;
    margin: 0 auto;
    margin-bottom: 177px;
    min-height: 896px;
}

.container {
    width: 100%;
    max-width: 1394px;
    margin: 0 auto;
}

.baner-content {
    max-width: 440px;
    padding-top: 175px;
}

.section-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 1.1;
    color: var(--main-color);
    margin-bottom: 37px;
}

.section-subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-color);
    padding-left: 3px;
    letter-spacing: .6px;
    margin-bottom: 49px;
}

.section-subtitle p {
    margin-bottom: 0;
}

.btn-primary {
    font-family: 'Lato';
    font-style: normal;
    min-width: 226px;
    height: 65px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--backgraund);
    padding: 20px 45px;
}

.btn-primary:hover {
    background: var(--btn-primary-hover);
    color: var(--text-color-second);
    border: 1px solid var(--btn-primary-hover);
    font-size: 21px;
}

/* how-it-works */
.how-it-works {
    padding-bottom: 35px;
}

.first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-block {
    display: flex;
    flex-direction: column;
}

.template-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color);
}

.template-subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    max-width: 584px;
    width: 100%;
    font-size: 50px;
    color: var(--main-color);
    line-height: 1.5;

}

.second-block {
    padding-top: 50px;
}

.second-block-subtitle {
    font-family: 'Lato';
    font-style: normal;
    position: relative;
    max-width: 698px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    color: var(--text-color);
    padding-left: 50px;
    letter-spacing: .6px;
}

.how-it-works-row {
    display: flex;
    justify-content: space-between;
}

.how-it-works-column {
    max-width: 390px;
}

.how-it-works-column-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    margin: 0 0 55px 76px;
    color: var(--text-color-second);
}

.how-it-works-column-subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    width: 404px;
    color: var(--text-color-second);
    letter-spacing: 1px;
    margin-bottom: 51px;
}

.column-third .how-it-works-column-title {
    margin: 0 0 49px 123px;
}

.how-it-works-column-img .img-fluid {
    border-radius: 10px;
}

.column-first {
    margin-top: 187px;
    position: relative;
}

.column-first::before {
    content: url("data:image/svg+xml,%3Csvg width='145' height='84' viewBox='0 0 145 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.4238 12.5918C71.5488 16.3516 73.8682 20.7705 75.3818 25.8486C76.9443 30.8779 77.7256 36.1514 77.7256 41.6689C77.7256 48.3096 76.7734 54.2666 74.8691 59.54C72.9648 64.7646 70.3525 69.1104 67.0322 72.5771C63.6143 76.1416 59.5615 78.8271 54.874 80.6338C50.1865 82.4404 44.9619 83.3438 39.2002 83.3438C32.9014 83.3438 27.2861 82.2939 22.3545 80.1943C17.4229 78.0947 13.4189 75.2139 10.3428 71.5518C7.12012 67.7432 4.70312 63.2998 3.0918 58.2217C1.5293 53.0947 0.748047 47.5771 0.748047 41.6689C0.748047 35.8584 1.50488 30.5117 3.01855 25.6289C4.58105 20.7461 6.99805 16.3271 10.2695 12.3721C13.3945 8.56348 17.4229 5.56055 22.3545 3.36328C27.2861 1.16602 32.9258 0.0673828 39.2734 0.0673828C45.9629 0.0673828 51.7002 1.19043 56.4854 3.43652C61.2705 5.68262 65.25 8.73438 68.4238 12.5918ZM61.5391 41.6689C61.5391 30.0479 59.5371 21.0391 55.5332 14.6426C51.5781 8.24609 46.1826 5.04785 39.3467 5.04785C32.4131 5.04785 26.9443 8.24609 22.9404 14.6426C18.9365 21.0391 16.9346 30.0479 16.9346 41.6689C16.9346 52.7041 18.8389 61.5908 22.6475 68.3291C26.5049 75.0186 32.0225 78.3633 39.2002 78.3633C46.3779 78.3633 51.8955 75.0186 55.7529 68.3291C59.6104 61.5908 61.5391 52.7041 61.5391 41.6689ZM144.596 81H95.2305V75.7998C96.6953 75.7021 98.9658 75.5068 102.042 75.2139C105.167 74.8721 107.315 74.5303 108.487 74.1885C110.001 73.7002 111.148 72.9189 111.93 71.8447C112.76 70.7217 113.175 69.0615 113.175 66.8643V15.4482H94.9375V9.2959H98.9658C104.239 9.2959 108.951 8.31934 113.102 6.36621C117.301 4.41309 120.304 2.31348 122.11 0.0673828H128.189C128.043 3.24121 127.896 6.95215 127.75 11.2002C127.604 15.4482 127.53 19.2568 127.53 22.626V66.0586C127.53 67.7676 127.896 69.3057 128.629 70.6729C129.41 71.9912 130.509 72.9678 131.925 73.6025C133.194 74.1396 135.27 74.6279 138.15 75.0674C141.031 75.5068 143.18 75.751 144.596 75.7998V81Z' fill='%2301996D' fill-opacity='0.2'/%3E%3C/svg%3E ");
    left: 12px;
    top: -54px;
    position: absolute;
}

.column-second {
    margin-top: 474px;
    position: relative;
}

.column-second::before {
    content: url("data:image/svg+xml,%3Csvg width='162' height='84' viewBox='0 0 162 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.2559 12.5918C71.3809 16.3516 73.7002 20.7705 75.2139 25.8486C76.7764 30.8779 77.5576 36.1514 77.5576 41.6689C77.5576 48.3096 76.6055 54.2666 74.7012 59.54C72.7969 64.7646 70.1846 69.1104 66.8643 72.5771C63.4463 76.1416 59.3936 78.8271 54.7061 80.6338C50.0186 82.4404 44.7939 83.3438 39.0322 83.3438C32.7334 83.3438 27.1182 82.2939 22.1865 80.1943C17.2549 78.0947 13.251 75.2139 10.1748 71.5518C6.95215 67.7432 4.53516 63.2998 2.92383 58.2217C1.36133 53.0947 0.580078 47.5771 0.580078 41.6689C0.580078 35.8584 1.33691 30.5117 2.85059 25.6289C4.41309 20.7461 6.83008 16.3271 10.1016 12.3721C13.2266 8.56348 17.2549 5.56055 22.1865 3.36328C27.1182 1.16602 32.7578 0.0673828 39.1055 0.0673828C45.7949 0.0673828 51.5322 1.19043 56.3174 3.43652C61.1025 5.68262 65.082 8.73438 68.2559 12.5918ZM61.3711 41.6689C61.3711 30.0479 59.3691 21.0391 55.3652 14.6426C51.4102 8.24609 46.0146 5.04785 39.1787 5.04785C32.2451 5.04785 26.7764 8.24609 22.7725 14.6426C18.7686 21.0391 16.7666 30.0479 16.7666 41.6689C16.7666 52.7041 18.6709 61.5908 22.4795 68.3291C26.3369 75.0186 31.8545 78.3633 39.0322 78.3633C46.21 78.3633 51.7275 75.0186 55.585 68.3291C59.4424 61.5908 61.3711 52.7041 61.3711 41.6689ZM161.859 81H93.2314V71.0391C94.5498 69.5254 96.3809 67.8408 98.7246 65.9854C101.068 64.0811 103.852 62.0303 107.074 59.833C109.027 58.5146 111.371 57.0742 114.105 55.5117C116.84 53.9492 119.94 52.2402 123.407 50.3848C127.265 48.334 130.219 46.5273 132.27 44.9648C134.369 43.4023 136.273 41.4736 137.982 39.1787C139.105 37.665 140.009 35.7852 140.692 33.5391C141.376 31.2441 141.718 27.9971 141.718 23.7979C141.718 17.6943 140.082 13.2266 136.811 10.3945C133.539 7.51367 129.34 6.07324 124.213 6.07324C121.039 6.07324 118.036 6.70801 115.204 7.97754C112.372 9.19824 110.248 10.9072 108.832 13.1045C109.174 14.667 109.589 16.5225 110.077 18.6709C110.614 20.8193 110.883 22.9189 110.883 24.9697C110.883 26.8252 110.102 28.4854 108.539 29.9502C107.025 31.3662 104.755 32.0742 101.728 32.0742C99.2861 32.0742 97.4062 31.2441 96.0879 29.584C94.7695 27.875 94.1104 25.6045 94.1104 22.7725C94.1104 20.1357 94.8428 17.499 96.3076 14.8623C97.7725 12.1768 99.8721 9.71094 102.606 7.46484C105.292 5.26758 108.612 3.48535 112.567 2.11816C116.522 0.750977 120.795 0.0673828 125.385 0.0673828C135.395 0.0673828 143.329 2.31348 149.188 6.80566C155.097 11.249 158.051 17.2061 158.051 24.6768C158.051 28.2412 157.514 31.4883 156.439 34.418C155.414 37.3477 153.729 39.9355 151.386 42.1816C148.798 44.6719 145.771 46.8203 142.304 48.627C138.837 50.3848 133.539 52.8506 126.41 56.0244C122.162 57.9287 118.207 59.9307 114.545 62.0303C110.883 64.0811 107.88 66.083 105.536 68.0361H161.859V81Z' fill='%2301996D' fill-opacity='0.2'/%3E%3C/svg%3E");
    right: 224px;
    top: -50px;
    position: absolute;
}

.column-third {
    margin-top: 240px;
    position: relative;
}

.column-third::after {
    content: url("data:image/svg+xml,%3Csvg width='161' height='108' viewBox='0 0 161 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.2686 12.5918C71.3936 16.3516 73.7129 20.7705 75.2266 25.8486C76.7891 30.8779 77.5703 36.1514 77.5703 41.6689C77.5703 48.3096 76.6182 54.2666 74.7139 59.54C72.8096 64.7646 70.1973 69.1104 66.877 72.5771C63.459 76.1416 59.4062 78.8271 54.7188 80.6338C50.0312 82.4404 44.8066 83.3438 39.0449 83.3438C32.7461 83.3438 27.1309 82.2939 22.1992 80.1943C17.2676 78.0947 13.2637 75.2139 10.1875 71.5518C6.96484 67.7432 4.54785 63.2998 2.93652 58.2217C1.37402 53.0947 0.592773 47.5771 0.592773 41.6689C0.592773 35.8584 1.34961 30.5117 2.86328 25.6289C4.42578 20.7461 6.84277 16.3271 10.1143 12.3721C13.2393 8.56348 17.2676 5.56055 22.1992 3.36328C27.1309 1.16602 32.7705 0.0673828 39.1182 0.0673828C45.8076 0.0673828 51.5449 1.19043 56.3301 3.43652C61.1152 5.68262 65.0947 8.73438 68.2686 12.5918ZM61.3838 41.6689C61.3838 30.0479 59.3818 21.0391 55.3779 14.6426C51.4229 8.24609 46.0273 5.04785 39.1914 5.04785C32.2578 5.04785 26.7891 8.24609 22.7852 14.6426C18.7812 21.0391 16.7793 30.0479 16.7793 41.6689C16.7793 52.7041 18.6836 61.5908 22.4922 68.3291C26.3496 75.0186 31.8672 78.3633 39.0449 78.3633C46.2227 78.3633 51.7402 75.0186 55.5977 68.3291C59.4551 61.5908 61.3838 52.7041 61.3838 41.6689ZM120.856 107.733C116.267 107.733 112.067 107.147 108.259 105.976C104.45 104.853 101.179 103.314 98.4443 101.361C95.71 99.4082 93.5859 97.1621 92.0723 94.623C90.6074 92.084 89.875 89.4717 89.875 86.7861C89.875 84.3936 90.4609 82.2451 91.6328 80.3408C92.8047 78.3877 94.6846 77.4111 97.2725 77.4111C100.202 77.4111 102.424 78.1436 103.938 79.6084C105.5 81.0244 106.281 82.6602 106.281 84.5156C106.281 86.0781 106.013 88.0557 105.476 90.4482C104.987 92.8408 104.597 94.5498 104.304 95.5752C104.646 96.0146 105.256 96.6006 106.135 97.333C107.062 98.0654 108.186 98.7246 109.504 99.3105C111.066 100.043 112.702 100.629 114.411 101.068C116.12 101.508 118.537 101.728 121.662 101.728C124.592 101.728 127.399 101.239 130.085 100.263C132.819 99.2861 135.212 97.7236 137.263 95.5752C139.411 93.3291 141.071 90.6924 142.243 87.665C143.464 84.6865 144.074 80.7559 144.074 75.873C144.074 73.2363 143.781 70.624 143.195 68.0361C142.658 65.4482 141.633 63.2021 140.119 61.2979C138.605 59.3936 136.53 57.9287 133.894 56.9033C131.306 55.8291 128.01 55.292 124.006 55.292H114.411V46.8691H120.783C127.521 46.8691 132.38 45.0137 135.358 41.3027C138.337 37.5918 139.826 32.001 139.826 24.5303C139.826 18.4268 138.386 13.8369 135.505 10.7607C132.624 7.63574 128.547 6.07324 123.273 6.07324C120.734 6.07324 118.635 6.39062 116.975 7.02539C115.363 7.61133 114.045 8.19727 113.02 8.7832C111.799 9.4668 110.798 10.2236 110.017 11.0537C109.235 11.8838 108.649 12.4941 108.259 12.8848C108.601 14.4473 109.016 16.376 109.504 18.6709C109.992 20.917 110.236 23.0654 110.236 25.1162C110.236 26.9229 109.455 28.5586 107.893 30.0234C106.379 31.4395 104.133 32.1475 101.154 32.1475C98.5664 32.1475 96.6621 31.2197 95.4414 29.3643C94.2695 27.5088 93.6836 25.3604 93.6836 22.9189C93.6836 20.3799 94.3916 17.792 95.8076 15.1553C97.2236 12.5186 99.3232 10.0527 102.106 7.75781C104.89 5.46289 108.283 3.60742 112.287 2.19141C116.291 0.775391 120.905 0.0673828 126.13 0.0673828C132.136 0.0673828 137.092 0.970703 140.998 2.77734C144.953 4.53516 148.054 6.68359 150.3 9.22266C152.497 11.7129 154.011 14.3252 154.841 17.0596C155.671 19.7939 156.086 22.1377 156.086 24.0908C156.086 26.5322 155.744 28.998 155.061 31.4883C154.377 33.9297 153.254 36.2002 151.691 38.2998C149.982 40.5947 147.712 42.6943 144.88 44.5986C142.097 46.4541 138.581 47.9678 134.333 49.1396V50.3115C137.067 50.5557 139.973 51.166 143.049 52.1426C146.174 53.1191 148.981 54.5596 151.472 56.4639C154.06 58.4658 156.184 61.0537 157.844 64.2275C159.504 67.3525 160.334 71.332 160.334 76.166C160.334 85.541 156.574 93.1338 149.055 98.9443C141.535 104.804 132.136 107.733 120.856 107.733Z' fill='%2301996D' fill-opacity='0.2'/%3E%3C/svg%3E");
    right: 223px;
    top: -51px;
    position: absolute;
}

/* success-stoty */
.success-stoty {
    background: var(--main-color-dark);
}

.container-video {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.video-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 230px 0 179px;
}

.video-content {
    max-width: 580px;
}

.video-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: var(--backgraund);
    line-height: 157%;
    margin-bottom: 37px;
}

.block-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: var(--backgraund);
    margin-bottom: 54px;
}

.video-content .btn-primary {
    min-width: 236px;
}

.screen {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16.3326px;
    opacity: 1;
}

.screen:hover {
    opacity: 0.8;
}

/* our-product */

.our-product-box {
    display: flex;
    justify-content: space-around;
    padding: 115px 0 141px;
}

.img-box {
    width: 100%;
    min-width: 638px;
    background: url(../img/girl.png) no-repeat;
    margin-left: 59px;
}

.img-box img {
    position: relative;
    margin: 340px -80px 0;
}

.text-box {
    width: 100%;
    padding-left: 85px;
}

.text-box .block-title {
    color: var(--text-color);
    margin-bottom: 12px;
}

.text-box .section-subtitle {
    margin: 23px 0 33px;
}

/* footer */
.navigation {
    background: var(--main-color-dark);
}

#demo-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 50px 0 219px;

}

#demo-nav .demo-nav-menu-item a {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 3.2;
}

#demo-nav a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 3.6;
    color: var(--backgraund);
    text-decoration: none;
    letter-spacing: 1px;
}

#demo-nav a:hover {
    color: var(--backgraund);
}


@media (max-width: 1024px) {
    #demo-nav-menu {
        display: none;
    }

    .logo {
        margin-left: 150px;
    }

    /*first-screen*/
    .baner {
        margin-bottom: 90px;
        min-height: 100vh;
        background-position: -739px 0;
    }

    .baner-content {
        padding-top: 20vh;
    }

    .section-title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .section-subtitle {
        font-size: 16px;
        margin-bottom: 36px;
    }

    /*how-it-works*/
    .how-it-works {
        padding-bottom: 100px;
    }

    .first-part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .template-title {
        font-size: 18px;
        margin-bottom: 18px;
    }

    .template-subtitle {
        font-size: 36px;
    }

    .second-block-subtitle {
        padding-left: 0;
        font-size: 16px;
    }

    .how-it-works-row {
        display: flex;
        flex-direction: column;
    }

    .column-first,
    .column-second,
    .column-third {
        margin-top: 140px;
    }
    .how-it-works-column-subtitle {
        width: 375px;
    }
    /* success-stoty */
    .video-blog {
        display: flex;
        flex-direction: column;
        padding: 93px 0 120px;
    }
    .video-content {
    margin-left: 39px;
    }
    .video-title {
        font-size: 36px;
    }

    .video-content .btn-primary {
        margin-bottom: 60px;
    }

    .screen {
        width: 392px;
    }

    .our-product-box {
        display: flex;
        flex-direction: column;
    }

    .img-box {
        min-width: 332px;
        margin-left: 4px;
        background: url(../img/girl.png) center/cover no-repeat;
    }
    .img-box img {
        width: 228px;
        margin: 146px -26px -33px;
        padding-top: 126px;
    }
    .text-box {
        padding-left: 26px;
        margin-top: 54px;
    }
    #demo-nav {
        padding: 50px 0;
    }
    #demo-nav a {
        line-height: 2;
    }
}